img{
    width: 500px;
    height: auto;
}
.parent{
    background-color: aqua;
    width: 100%;
}
.son{
    background-color: beige;
    width: 50%;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.daughter{
    width: 50%;
    float: right;
}
/*mobile devices*/
@media (min-width:320px) and (max-width:480px){
h1{
    background-color: black;
    color: red;
}
.daughter{
    width: 100%;
}
.son{
    width: 100%;
    font-size: 20px;
}
.son p{
    width: 100%;
}
.daughter img{
    width: 100%;
    height: auto;
}
}
/*tablet devices*/
@media (min-width:481px) and (max-width:768px){
    h1{
        background-color: burlywood;
        color: purple;
    }
    .daughter{
        width: 100%;
    }
    .son{
        width: 100%;
        font-size: 20px;
    }
    .son p{
        width: 100%;
    }
    .daughter img{
        width: 100%;
        height: auto;
    }
}
/*laptop devices*/
@media (min-width:769px) and (max-width:1024px){
    h1{
        background-color: blanchedalmond;
        color: blue;
    }
    .daughter{
        width: 100%;
    }
    .son{
        width: 100%;
        font-size: 20px;
    }
    .son p{
        width: 100%;
    }
    .daughter img{
        width: 100%;
        height: auto;
    }
}